{% extends 'layout.html.twig' %}

{% block title %}New TarifaEspera{% endblock %}

{% block body %}
    <h1>Create new TarifaEspera</h1>

    {{ include('tarifa_espera/_form.html.twig') }}

    <a href="{{ path('app_tarifa_espera_index') }}">back to list</a>
{% endblock %}
