body {

}


.menu-principal{
}

.menu-azayca a{
    color: var(--color-fuente-azayca);
    font-size: large;
}

.menu-azayca .nav-item{
    margin-left: 1em;
}

:root {
    --color-fuente-azayca: black; /* #86186b; */
}

.boton-espacio-superior{
    margin-top: 10px;
}

/*
.btn-primary {

    background-color: #e91e63 !important;
    border-color: #e91e63 !important;
}

.btn-primary:hover {
    background-color: #d81b60 !important;
    border-color: #d81b60 !important;
}

 */