{% extends 'layout.html.twig' %}


{% block title %}{{ navega_bienvenida }}{% endblock %}

{% block cabecera %}
    <h3 class="{{ estilo_cabecera_pagina }}">{{ navega_bienvenida_cabecera }}</h3>
{% endblock %}

{% block contenido %}
    {% for msg in app.flashes('error') %}
        <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}
    <p>Elija la opción deseada del menú
    </p>
{% endblock %}

{% block acciones %}
{% endblock %}
