<form method="post" action="{{ path('app_tarifa_km_delete', {'id': tarifa_km.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarifa_km.id) }}">
    <button class="btn">Delete</button>
</form>
