{% extends 'layout.html.twig' %}

{% block title %}New TarifaKm{% endblock %}

{% block body %}
    <h1>Create new TarifaKm</h1>

    {{ include('tarifa_km/_form.html.twig') }}

    <a href="{{ path('app_tarifa_km_index') }}">back to list</a>
{% endblock %}
